<div class="side-bar-header">
  <div class="header-name">
    <%= current_user.name %> さん
  </div>
  <div class="log-out">
    <%= link_to "ログアウト", destroy_user_session_path, data: {turbo_method: :delete}, class:'btn' %>
  </div>
</div>
<div class="menus">
  <div class="menu">
    <div class="menu-name">
      <a href="#">レッスン日程</a>
    </div>
  </div>
  <div class="menu">
    <div class="menu-name">
      <a href="#">お知らせ投稿</a>
    </div>
  </div>
  <div class="menu">
    <div class="menu-name">
      <a href="#">メッセージ</a>
    </div>
  </div>
</div>