<div class="side-bar-header">
  <div class="header-name">
    <a href="#">名前</a>さん
  </div>
  <div class="log-out">
    <a href="#">ログアウト</a>
  </div>
</div>
<div class="menus">
  <div class="menu">
    <div class="menu-name">
      <a href="#">レッスン日程</a>
    </div>
  </div>
  <div class="menu">
    <div class="menu-name">
      <a href="#">お知らせ投稿</a>
    </div>
  </div>
  <div class="menu">
    <div class="menu-name">
      <a href="#">メッセージ</a>
    </div>
  </div>
</div>