<div class="main-container">
  <div class="side-bar">
    <%= render "homes/side_bar" %>
  </div>
  <div class="main-contents">
    <%= month_calendar do |date| %>
      <%= date.day %>
    <% end %>
  </div>