<div class="main-container">
  <div class="side-bar">
    <%= render "homes/side_bar" %>
  </div>
  <div class="main-contents">
    <div class="lesson-register">
      <div class="register">
        レッスン開始時間登録
      </div>
    </div>
  </div>
</div>